@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@page {
    margin: 0cm;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: red;
}

.content {
    padding: 30px;
}

footer {
    font-weight: 300;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: #777;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
}
